.bestsellers__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0em 0.5em 0em;
}

.autor__imagem {
    margin: 0;
    padding: 0;
    max-width:200px;
    max-height:210px;
    width: auto;
    height: auto;
}